<div class="post" id="About">
    <div class="row">
      {% if site.pages[0].profile %}
        <div class="profile col-sm-4 col-12 {% if site.pages[0].profile.align == 'left'%}order-first{% endif %}" align=="center">
          {% if site.pages[0].profile.image %}
            <img src="{{ site.pages[0].profile.image | prepend: '/assets/img/' | relative_url }}"   align-"center">
          {% endif %}
        {% if site.pages[0].profile.address %}
          <div class="address">
            <br>
            Address: <br>
            {{ site.pages[0].profile.address }}
          </div>
        {% endif %}
        <br>
        {% if site.pages[0].social %}
          {% include social.html %}
        {% endif %}
        </div>
      {% endif %}
      <div class="col-sm-8 col-12" align="left">
        {{ content }}
        {% if site.pages[0].news %}
          {% include news.html %}
        {% endif %}
      </div>
    </div>
</div>
