---
layout: default
---
<div class="container-fluid blue-bg">
    <div class="container">
        <h2 class="pb-3 pt-2" style="float: left">Academic</h2>
        <h2 class="pb-3 pt-2 text-right">Industry</h2>
        <div class="row align-items-center justify-content-end how-it-works">
            <div class="col-6 text-right">
                <h5>Fully Responsive </h5>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-2 text-center bottom">
                <div class="circle">1 </div>
            </div>
        </div>
        <div class="row timeline">
            <div class="col-2">
                <div class="corner right-bottom"> </div>
            </div>
            <div class="col-8">
                <hr/>
            </div>
            <div class="col-2">
                <div class="corner top-left"> </div>
            </div>
        </div>
        <div class="row align-items-center  how-it-works">
            <div class="col-2 text-center full">
                <div class="circle">2 </div>
            </div>
            <div class="col-6">
                <h5>Postdoc </h5>
                <p>Cornell University</p>
            </div>
        </div>
        <div class="row align-items-center  how-it-works">
            <div class="col-2 text-center full">
                <div class="circle">2 </div>
            </div>
            <div class="col-6">
                <h5>PhD + MI </h5>
                <p>INRIA Sophia Antipolis</p>
            </div>
        </div>
        <div class="row timeline">
            <div class="col-2">
                <div class="corner top-right"> </div>
            </div>
            <div class="col-8">
                <hr/>
            </div>
            <div class="col-2">
                <div class="corner left-bottom"> </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-end how-it-works">
            <div class="col-6 text-right">
                <h5>Alcatel-Lucent India Pvt Ltd </h5>
                <p>SSE</p>
            </div>
            <div class="col-2 text-center full">
                <div class="circle">3 </div>
            </div>
        </div>

        <div class="row timeline">
            <div class="col-2">
                <div class="corner right-bottom"> </div>
            </div>
            <div class="col-8">
                <hr/>
            </div>
            <div class="col-2">
                <div class="corner top-left"> </div>
            </div>
        </div>
        <div class="row align-items-center how-it-works">
            <div class="col-2 text-center full">
                <div class="circle">4</div>
            </div>
            <div class="col-6 text-left">
                <h5>Master of Technology </h5>
                <p>IIT Madras</p>
            </div>
        </div>
        <div class="row timeline">
            <div class="col-2">
                <div class="corner top-right"> </div>
            </div>
            <div class="col-8">
                <hr/>
            </div>
            <div class="col-2">
                <div class="corner left-bottom"> </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-end how-it-works">
            <div class="col-6 text-right">
                <h5>Software Engineer </h5>
                <p>Cybage</p>
            </div>
            <div class="col-2 text-center full">
                <div class="circle">5</div>
            </div>
        </div>
        <div class="row timeline">
            <div class="col-2">
                <div class="corner right-bottom"> </div>
            </div>
            <div class="col-8">
                <hr/>
            </div>
            <div class="col-2">
                <div class="corner top-left"> </div>
            </div>
        </div>
        <div class="row align-items-center how-it-works">
            <div class="col-2 text-center top">
                <div class="circle">4</div>
            </div>
            <div class="col-6 text-left">
                <h5>Bachelor of Engineering</h5>
                <p> CS DDU..</p>
            </div>
        </div>

    </div>
</div>

